@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Doodle+Shadow&display=swap");

$fontOne: "Roboto", sans-serif;
$fontTwo: "Rubik Doodle Shadow", cursive;

body {
  padding: 0;
  margin: 0;
  background-color: black;
}
// header
.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  justify-content: center;

  .header-Wrap {
    width: 700px;
    height: 600px;

    .game-Wrap {
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;
      text-align: center;
      align-items: center;
      justify-content: center;
      border-radius: 2rem;
      overflow: hidden;

      .player-Left,
      .player-Right {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgb(150, 150, 150);
        transition: all 250ms ease-in-out;

        .player-1-T-T-1 {
          font-family: $fontTwo;
          font-size: 2rem;
          color: red;
        }

        #count-Players {
          font-family: $fontTwo;
          font-size: 2rem;
          color: red;
        }

        .player-1-T-T-3 {
          font-family: $fontTwo;
          font-size: 2rem;
          color: red;
        }

        #current-Players {
          font-family: $fontTwo;
          font-size: 2rem;
          color: red;
        }
      }

      .active {
        background-color: rgb(238, 238, 238);
      }

      #game-Buttons {
        padding: 7px 30px;
        border-radius: 1rem;
        border: solid black 2px;
        font-family: $fontTwo;
        background-color: black;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        transition: all 50ms ease-in-out;

        &:hover {
          color: black;
          background-color: white;
        }

        &:active {
          color: black;
          background-color: white;
          transform: scale(0.9);
        }
      }

      .restart-Btn {
        position: absolute;
        top: 25px;
      }

      .roll-Dice-Btn {
        position: absolute;
        bottom: 75px;
      }

      .hold-Btn {
        position: absolute;
        bottom: 25px;
      }

      .dice-Img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100px;
        width: 100px;
        background-color: black;
        display: block;
        background-image: url("./assets/dice-1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 500ms ease-in-out;
      }
    }
  }
}
